In [11]:
a, b = 0, 1
while b < 10:
    print(b)
    if b > 5:
        b = 9
        # in the if
    # in the while
    a, b = b, a+b

1
1
2
3
5
8

In [1]:
# try reading in first few lines of csv
import csv
i = 0
with open('data/2014.q1-q3 C4170 San Antonio-New Braunfels, TX MSA.csv', newline='') as csvfile:
    census_data = csv.reader(csvfile, delimiter=',', quotechar='"')
    for row in census_data:
        i = i + 1
        if i > 5:
            break
        print(', '.join(row))

area_fips, own_code, industry_code, agglvl_code, size_code, year, qtr, disclosure_code, area_title, own_title, industry_title, agglvl_title, size_title, qtrly_estabs_count, month1_emplvl, month2_emplvl, month3_emplvl, total_qtrly_wages, taxable_qtrly_wages, qtrly_contributions, avg_wkly_wage, lq_disclosure_code, lq_qtrly_estabs_count, lq_month1_emplvl, lq_month2_emplvl, lq_month3_emplvl, lq_total_qtrly_wages, lq_taxable_qtrly_wages, lq_qtrly_contributions, lq_avg_wkly_wage
C4170, 0, 10, 40, 0, 2014, 1, , San Antonio-New Braunfels, TX MSA, Total Covered, Total, all industries, MSA, Total Covered, All establishment sizes, 45828, 888979, 897270, 904941, 10412751522, 4468274618, 108332336, 893, , 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00
C4170, 0, 10, 40, 0, 2014, 2, , San Antonio-New Braunfels, TX MSA, Total Covered, Total, all industries, MSA, Total Covered, All establishment sizes, 45927, 912463, 919313, 922940, 9780955056, 1479279109, 31022059, 819, , 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00
C4170, 0, 10, 40, 0, 2014, 3, , San Antonio-New Braunfels, TX MSA, Total Covered, Total, all industries, MSA, Total Covered, All establishment sizes, 46264, 916279, 918965, 921911, 10038110075, 977838059, 20943403, 840, , 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00
C4170, 1, 10, 41, 0, 2014, 1, , San Antonio-New Braunfels, TX MSA, Federal Government, Total, all industries, MSA, Total -- by ownership sector, All establishment sizes, 268, 34274, 34385, 34368, 605721539, 0, 0, 1357, , 0.89, 1.89, 1.89, 1.88, 1.95, 0.00, 0.00, 1.03

In [14]:
import numpy as np
np.random.random_integers(0, 5)

1

In [13]:
f = open('../test.txt', 'r')
sample_list = []

i = 0
for line in f:
    sample_list.append(line.split('\t')[0])
    i = i + 1

f.close()

In [21]:
for i in range(20):
    x = np.random.random_integers(0, len(sample_list) - 1)
    print(sample_list[x])

tomato
tomato
onion
tomato
pineapple
onion
onion
pineapple
tomato
pineapple
pineapple
tomato
onion
pineapple
onion
pineapple
tomato
onion
onion
onion

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [31]:
file_name = 'data/panera-data-zach.txt'
raw = pd.read_table(file_name, index_col = 0)
raw.head()

      food_item  count                 date
index
1         onion      8  2015-06-18 20:35:54
2        tomato      5  2015-09-20 12:37:03
3        tomato      2  2015-08-09 18:31:22
4         onion      2  2015-10-10 18:35:24
5        tomato      1  2015-07-25 12:55:21

In [39]:
#type(df['date'][1])
#tmp = time.strptime(df['date'][1], '%Y-%m-%d %H:%M:%S')
#type(tmp)
df = pd.DataFrame({'food_item':raw['food_item'], 'count':raw['count'], 'date':pd.to_datetime(raw['date'])})
print(df.head(), end='\n\n')

       count                date food_item
index
1          8 2015-06-18 20:35:54     onion
2          5 2015-09-20 12:37:03    tomato
3          2 2015-08-09 18:31:22    tomato
4          2 2015-10-10 18:35:24     onion
5          1 2015-07-25 12:55:21    tomato

             count
count  1000.000000
mean      3.471000
std       2.091299
min       1.000000
25%       2.000000
50%       3.000000
75%       5.000000
max      10.000000